<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

  window.assets = {
    favicon: "<%= image_path("favicon.ico") %>",
    logo: "<%= image_path("logo.png") %>",
    githubImage: "<%= image_path('github.png') %>",
    linkedinImage: "<%= image_path('linkedin.png') %>"
  }

</script>

<div id="root">wrong page</div>
