<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

  window.assets = {
    logo: "<%= image_path("logo.png") %>",
    fitnessImage: "<%= image_path("aa-logo-test.png") %>",
    musicImage: "<%= image_path("aa-logo-test.png") %>",
    foodImage: "<%= image_path("aa-logo-test.png") %>",
    techImage: "<%= image_path("aa-logo-test.png") %>",
    artImage: "<%= image_path("aa-logo-test.png") %>",
    danceImage: "<%= image_path("aa-logo-test.png") %>",
    healthImage: "<%= image_path("aa-logo-test.png") %>",
    businessImage: "<%= image_path("aa-logo-test.png") %>"
  }

</script>

<div id="root">wrong page</div>
