<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>

  window.assets = {
    favicon: "<%= image_path("favicon.ico") %>",
    logo: "<%= image_path("logo.png") %>",
    coverVideo: "<%= image_path("meetup.svg") %>",
    fitnessImage: "<%= image_path("fitness.png") %>",
    musicImage: "<%= image_path("music.png") %>",
    cultureImage: "<%= image_path("culture.png") %>",
    techImage: "<%= image_path("tech.png") %>",
    artImage: "<%= image_path("art.png") %>",
    danceImage: "<%= image_path("dance.png") %>",
    healthImage: "<%= image_path("health.png") %>",
    gameImage: "<%= image_path("game.png") %>",

    coverVideoMP4: "<%= asset_path('cover_video.mp4')%>",
    coverVideoJPG: "<%= asset_path('cover_video.jpg')%>"
  }

</script>

<div id="root">wrong page</div>
