<!DOCTYPE html>
<html>
  <head>
    <title>MeetNow!</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA2k5cP6VWstOIU0Gr7ZHslfcvaOgCqq8o" %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <script src="https://use.fontawesome.com/111619368a.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
